@import './base.css';
@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
  background-color: #F4F0F0;
}


.div-border::after {
  content: '';
  display: block;
  border-right: 1px solid #E5E5E5;
  height: 80%;
  position: relative;
  top: -100px;
  right: -22px;


}

.checkmark::before {
  content: '';
  display: block;
  height: 30px;
  width: 1px;
  position:absolute;
  background-color: #E5E5E5;
  top: 29px;
}