@import './base.css';
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #F4F0F0;
font-family: 'Source Sans Pro', sans-serif;
}


.div-border::after {
  content: '';
  display: block;
  border-right: 1px solid #E5E5E5;
  height: 80%;
  position: relative;
  top: -100px;
  right: -22px;


}

.checkmark::before {
  content: '';
  display: block;
  height: 30px;
  width: 1px;
  position:absolute;
  background-color: #E5E5E5;
  top: 29px;
}